.homePage {
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
}
.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cleaner-img {
  height: auto;
  width: 700px;
}
.content {
  height: 80vh;
  line-height: 15px;
  margin: 30px;
  padding: 30px;
  h4 {
    font-weight: bold;
    color: blue;
  }
  p {
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    width: 100%;
    line-height: 20px;
  }
}
.heading {
  margin-top: 10px;
  font: 3rem bolder;
  width: 100%;
}
.btn {
  display: flex;
  gap: 1rem;
}
.aboutBtn {
  text-align: center;
  padding: 0.8rem 1.6rem;
  width: 10rem;
  height: 3rem;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3b82f6;
  color: #ffffff;
  border-style: none;
  &:hover {
    background-color: #3b83f696;
  }
}
.bookBtn {
  text-wrap: nowrap;
  padding: 0.8rem 1.6rem;
  width: 10rem;
  height: 3rem;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  color: blue;
  background-color: #ffffff;
  border: 1px solid blue;
  &:hover {
    background-color: rgb(185, 191, 196);
    color: black;
  }
}
